{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4 border border-secondary rounded">

      <h1>Sign Out</h1>
      
      <p>Are you sure you want to sign out?</p>
      
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <p class="text-center">
          <button class="btn btn-danger" type="submit">Sign Out</button>
          <a class="btn btn-outline-secondary" onclick="history.back();">Cancel</a>
        </p>
      </form>
      
    </div>  
  </div>
</div>
{% endblock %}
