/* TOC navigation */

.martor-content-toc {
    font-size: small;
}

.martor-content-toc ul {
    list-style-type: none;
    padding-left: 1rem;
}

.martor-content-toc a {
    text-decoration: none;
    color: var(--bs-secondary);
}

.martor-field {
    height: 60vh;
}