<ul class="nav mt-3 gap-2">
  <li class="nav-item">
    <form method="POST">
      {% csrf_token %}
      <select class="form-select form-select-sm" id="branch_selector" name="selected_branch" 
          onchange="this.form.submit();">
        {% for item in branches %}
          {% if item == branch %}
            <option value='{{item}}' selected>{{item}}</option>
          {% else %}
            <option value='{{item}}'>{{item}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </form>
  </li>
  <li class="nav-item">
    <ul class="breadcrumb border rounded p-1">
      <li class="breadcrumb-item">
        <a href="{% url 'repo' repo %}">{{ repo }}</a> 
      </li>
      {% if path_parts %}
        {% for key, value in path_parts.items %}
          {% if not forloop.last %}
            <li class="breadcrumb-item">
              <a href="{% url 'repo' repo branch value %}">{{ key }}</a>
            </li>
          {% else %}
            <li class="breadcrumb-item active">
              {{ key }}
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  </li>
  {% if not decode_error and contents %}
  <li class="nav-item">
      <a class="btn btn-sm btn-outline-primary" href="{% url 'update-file' repo path %}">Update</a> 
  </li>
  <li class="nav-item">
      <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button> 
  </li>
  {% endif %}
</ul>
