{% extends "base.html" %}

{% load static %}

{% block baseurl %}
  {% if update %}
    <base href="{% url 'update-file' repo path %}">
  {% elif path %}
    <base href="{% url 'new-file' repo path %}">
  {% else %}
    <base href="{% url 'new-file' repo %}">
  {% endif %}
{% endblock %}

{% block title %}
  {% if user.is_authenticated %}
    {{ title }} {{ path }} - 
  {% endif %}
{% endblock %}

{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <style>
    .martor-field {
        height: 60vh;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">File name:</label>
      {{ form.filename }}
    </div>
    <div class="mb-3">
      {{ form.content }}
    </div>
    <div class="form-group mb-2 d-flex justify-content-end">
      {% if update %}
      <button type="submit" class="btn btn-success" title="Update file">
        <i class="bi bi-check-square"></i> Update
      {% else %}
      <button type="submit" class="btn btn-success" title="Create file">
        <i class="bi bi-file-plus"></i> Create
      {% endif %}
      </button>
      <a class="btn btn-outline-danger ms-2" role="button" 
          title="Cancel changes"
        {% if update %}
          href="{% url 'file' repo branch path %}"
        {% else %}
          {% if path %}
            href="{% url 'repo' repo branch path %}"
          {% else %}
            href="{% url 'repo' repo %}"
          {% endif %}
        {% endif %}
      >
        <i class="bi bi-x-square"></i> Cancel</a>
    </div>
  </form>

  <!-- Back to top button -->
  <button  type="button"  class="btn btn-danger btn-floating btn-lg"  id="btn-back-to-top">
    <i class="bi-arrow-up"></i>
  </button>
</div>
{% endblock %}
  
{% block js %}
<script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
<script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mathjax.js' %}" async></script>
<script type="text/javascript" src="{% static 'js/back-to-top.js' %}" async></script>
{% endblock %}
