{% extends "base.html" %}

{% load static %}
{% load martortags %}

{% block title %}
  {% if user.is_authenticated %}
    {{ path }} - 
  {% endif %}
{% endblock %}

{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.3/katex.min.css" integrity="sha512-07YhC3P4/vS5HdgGuNAAeIxb5ee//efgRNo5AGdMtqFBUPYOdQG/sDK0Nl5qNq94kdEk/Pvu8pmN4GYUeucUkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="{% static 'css/markdown-extensions.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container">
  {% include "branch_path_form.html" %}
  {% if contents %}
  <div class="mb-3 martor-content border">
    <div class="martor-preview">
      {{ contents|safe_markdown }}
    </div>
  </div>
  {% endif %}
  {% if not decode_error %}
  <p>
    <a class="btn btn-outline-primary" href="{% url 'update-file' repo path %}">Update</a> 
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button> 
  </p>
  {% endif %}
  <p><a href="{{ html_url }}" target="_blank">Open in the GitHub</a></p>
</div>
  
<!-- The Modal -->
<div class="modal" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete File</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete <em>{{ path }}</em> ?
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" 
            onclick="location.href='{% url 'delete-file' repo path %}'">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.3/katex.min.js" integrity="sha512-aMDiFsrEV3KzAn9EHwyBRS7y1APjZWt/Z/73ukLN2Ca2KcGGzlOQFQSnfOdnEcehpwMaQ8edlDB/0cMX2GsHbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{% comment %} <script type="text/javascript" src="{% static 'js/katex-loader.js' %}"></script> {% endcomment %}
<script type="text/javascript" src="{% static 'js/mathjax.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
<script>
  $('.martor-preview pre').each(function(i, block){
      hljs.highlightBlock(block);
  });
</script>
{% endblock %}
