{% extends "base.html" %}

{% load static %}

{% block title %}
  {% if user.is_authenticated %}
    {{ path }} - 
  {% endif %}
{% endblock %}

{% block add-to-head %}
  <link rel="stylesheet" href="{% static 'css/delete-modal.css' %}">
{% endblock %}

{% block content %}
<h2>
  <a href ="{% url 'repo' repo %}">{{ repo }}</a> /
  {% if path_parts %}
    {% for key, value in path_parts.items %}
      {% if not forloop.last %}
        <a href ="{% url 'repo' repo branch value %}">{{ key }}</a> / 
      {% else %}
        {{ key }}
      {% endif %}
    {% endfor %}  
  {% endif %}
</h2>
<p>Branch: <i>{{ branch }}</i></p>
<p>
  <a href="{% url 'update-file' repo path %}">Update file</a> 
  <a href="#" onclick="document.getElementById('delete-modal').style.display='block'">Delete file</a> 
</p>
{% if contents %}
<pre>
{{ contents }}
</pre>
{% endif %}
<p><a href="{{ html_url }}" target="_blank">Open in the GitHub</a></p>

<div id="delete-modal" class="modal">
  <span onclick="deleteModal.style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/">
    {% csrf_token %}
    <div class="container">
      <h1>Delete File</h1>
      <p>Are you sure you want to delete <em>{{ path }}</em> ?</p>
      <div class="clearfix">
        <button type="button" class="cancelbtn" onclick="deleteModal.style.display='none'">Cancel</button>
        <button type="button" class="deletebtn" onclick="location.href='{% url 'delete-file' repo path %}'">Delete</button>
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal
const deleteModal = document.getElementById('delete-modal');
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == deleteModal) {
    deleteModal.style.display = "none";
  }
}
</script>
{% endblock %}
