{% extends "base.html" %}
{% load socialaccount %}


{% block title %}
  {% if user.is_authenticated %}
    Repositories - 
  {% endif %}
{% endblock %}
  
  
{% block content %}
  {% if user.is_authenticated %}
  <div class="container">
    <h2>Welcome {{ user.username }} !</h2>
    <p>Your repositories:</p>
    <div class="list-group">
      {% for repo in repos %}
      <a href="{% url 'repo' repo %}" class="list-group-item list-group-item-action">{{ repo }}</a>
      {% endfor %}
    </div>
    {% else %}
    <div class="mt-4 p-5 bg-primary text-white rounded">
      <h1>MarkHub</h1>
      <p class="display-6">This is your MarkDown GitHub!</p>
      <div class="mt-5 text-center">
        <a class="btn btn-success btn-lg" href="{% provider_login_url 'github' %}">Sign Up</a>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
