{% extends "base.html" %}
{% load socialaccount %}


{% block title %}
  {% if user.is_authenticated %}
    Repositories - 
  {% endif %}
{% endblock %}
  
  
{% block content %}
  {% if user.is_authenticated %}
  <div class="container">
    <h2>Welcome {{ user.username }} !</h2>
    <p>Your repositories:</p>
    <ul>
      {% for repo in repos %}
      <li><a href="{% url 'repo' repo %}">{{ repo }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <a href="{% provider_login_url 'github' %}">Sign Up</a>
  </div>
  {% endif %}
{% endblock %}
