{% extends "base.html" %}

{% block title %}
  {% if user.is_authenticated %}
    {{ repo }} - 
  {% endif %}
{% endblock %}

{% block content %}
<h2>
  <form method="POST">
    {% csrf_token %}
    {% comment %} {{ form.branch }} {% endcomment %}
    <select id="branch_selector" name="selected_branch" onchange="this.form.submit();">
      {% for item in branches %}
        {% if item == branch %}
          <option value='{{item}}' selected>{{item}}</option>
        {% else %}
        <option value='{{item}}'>{{item}}</option>
        {% endif %}
      {% endfor %}
    </select>
    <a href ="{% url 'repo' repo %}">{{ repo }}</a> / 
    {% if path_parts %}
      {% for key, value in path_parts.items %}
        {% if not forloop.last %}
          <a href ="{% url 'repo' repo branch value %}">{{ key }}</a> / 
        {% else %}
          {{ key }}
        {% endif %}
      {% endfor %}  
    {% endif %}
  </form>
</h2>
<ul>
  {% for content in repo_contents %}
    {% if content.type == "dir"%}
      <li>📁 <a href ="{% url 'repo' repo branch content.path %}">{{ content.name }}</a></li>
    {% else %}
      <li>📄 <a href ="{% url 'file' repo branch content.path %}">{{ content.name }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
<p>
  {% if path %}
    <a href="{% url 'new-file' repo path %}">New file</a>
  {% else %}
    <a href="{% url 'new-file' repo %}">New file</a>
  {% endif %}
</p>
<p><a href="{{ html_url }}" target="_blank">Open in the GitHub</a></p>
{% endblock %}
