{% extends "base.html" %}

{% block title %}
  {% if user.is_authenticated %}
    {{ repo }} - 
  {% endif %}
{% endblock %}

{% block content %}
<h2>
  <a href ="{% url 'repo' repo %}">{{ repo }}</a> / 
  {% if path_parts %}
    {% for key, value in path_parts.items %}
      <a href ="{% url 'repo' repo value %}">{{ key }}</a> / 
    {% endfor %}  
  {% endif %}
</h2>
<p>Branch: <i>{{ branch }}</i></p>
<ul>
  {% for content in repo_contents %}
    {% if content.type == "dir"%}
      <li><a href ="{% url 'repo' repo content.path %}">{{ content.name }}</a></li>
    {% else %}
      <li><a href ="{% url 'file' repo content.path %}">{{ content.name }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
<p>
  {% if path %}
    <a href="{% url 'new-file' repo path %}">New file</a>
  {% else %}
    <a href="{% url 'new-file' repo %}">New file</a>
  {% endif %}
</p>
{% endblock %}
