{% extends "base.html" %}

{% block title %}
  {% if user.is_authenticated %}
    {{ repo }} - 
  {% endif %}
{% endblock %}

{% block content %}
<h2>
  {% include "branch_path_form.html" %}
</h2>
<ul>
  {% for content in repo_contents %}
    {% if content.type == "dir"%}
      <li>📁 <a href ="{% url 'repo' repo branch content.path %}">{{ content.name }}</a></li>
    {% else %}
      <li>📄 <a href ="{% url 'file' repo branch content.path %}">{{ content.name }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
<p>
  {% if path %}
    <a href="{% url 'new-file' repo path %}">New file</a>
  {% else %}
    <a href="{% url 'new-file' repo %}">New file</a>
  {% endif %}
</p>
<p><a href="{{ html_url }}" target="_blank">Open in the GitHub</a></p>
{% endblock %}
