<ul class="nav mt-3 gap-1" id="toolbar">

  <li class="nav-item mt-1">
    <i class="bi bi-git"></i>
  </li>
  <li class="nav-item" title="Select branch">
    <form method="POST">
      {% csrf_token %}
      <select class="form-select form-select-sm" id="branch_selector" name="selected_branch" 
          onchange="this.form.submit();"
          {% if disable_branch_selector %}
            disabled
          {% endif %}
      >
        {% for item in branches %}
          {% if item == branch %}
            <option value='{{item}}' selected>
          {% else %}
            <option value='{{item}}'>
          {% endif %}
              {{item}}
            </option>
        {% endfor %}
      </select>
    </form>
  </li>

  <li class="nav-item mt-1 ms-2">
    <i class="bi bi-journal-bookmark"></i>
  </li>
  <li class="nav-item" title="Open the parent folder">
    <ul class="breadcrumb border rounded p-1">
      <li class="breadcrumb-item">
        <a href="{% url 'repo' repo %}">{{ repo }}</a> 
      </li>
      {% if path_parts %}
        {% for key, value in path_parts.items %}
          {% if not forloop.last %}
            <li class="breadcrumb-item">
              <a href="{% url 'repo' repo branch value %}">{{ key }}</a>
            </li>
          {% else %}
            <li class="breadcrumb-item active">
              {{ key }}
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  </li>

  <li class="nav-item ms-2">
    {% if not decode_error and contents and path %}
      {% include "components/file-actions.html" %}
    {% elif not disable_branch_selector %}
    <a class="btn btn-outline-primary" title="Create a new file in this folder"
      {% if path %}
      href="{% url 'new-file' repo path %}"
      {% else %}
      href="{% url 'new-file' repo %}"
      {% endif %}>
      <i class="bi-file-plus"></i> 
      New file
    </a>
  {% endif %}
  </li>

  {% if history_url %}
  <li class="nav-item ms-2">
    <a class="btn btn-outline-dark" href="{{ history_url }}"  title="Commits log" target="_blank">
      <i class="bi bi-clock-history"></i> 
      History
    </a> 
  </li>
  {% endif %}
  
  {% if last_update %}
  <li class="nav-item ms-1 mt-1">
    Last updated at {{ last_update|date:"Y/m/d H:i:s O" }}
  </li>
  {% endif %}

</ul>
